{% extends "base.html" %}

{% block content %}
  <h3>Current Repertoire</h3>
  <p>Coming eventually!</p>
  <h3>Being Arranged</h3>
  <p>Coming eventually!</p>
  <h3>Prospective Songs</h3>
  <a href="/songs/add" class="btn btn-success">Suggest song</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Suggested By</th>
        <th>Artist</th>
        <th>Title</th>
        <th>URL</th>
        <th>Votes</th>
        <th>Actions</th>
      </tr>
    </thead>
    {% for song in proposed %}
      <tr>
        <td>{{ song.suggested_by.first_name }} {{ song.suggested_by.last_name }}</td>
        <td>{{ song.artist }}</td>
        <td>{{ song.title }}</td>
        <td><a href="{{ song.song_url }}" target="_blank">Link</a></td>
        <td></td>
        <td>
          {% if song.suggested_by == user %}
            <a href="/songs/{{ song.pk }}/delete">
              <span class="glyphicon glyphicon-remove"/>
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <h3>Retired Songs</h3>
  <p>Coming eventually!</p>
{% endblock %}
