{% extends "base.html" %}

{% block content %}
  <h3>Current Repertoire</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Arrangement</th>
      </tr>
    </thead>
    {% for song in current %}
      <tr>
        <td>{{ song.artist }}</td>
        <td>{{ song.title }}</td>
        <td>
          {% if song.drive_link %}
            <a href="{{ song.drive_link }}" target="_blank">Link</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <h3>Being Arranged</h3>
  {% if not arranging %}
    <h4>Nothing currently being arranged!</h4>
  {% else %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Title</th>
          <th>Arranger</th>
        </tr>
      </thead>
      {% for song in arranging %}
        <tr>
          <td>{{ song.artist }}</td>
          <td>{{ song.title }}</td>
          <td>{{ song.arranger.first_name }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <h3 class="pull-left">Prospective Songs</h3>
  <div class="pull-right">
    <a href="/songs?filter=novote" class="btn btn-default btn-sm">Only songs I haven't voted on</a>
    <a href="/songs" class="btn btn-default btn-sm">All songs</a>
    <a href="/songs/add" class="btn btn-success btn-sm">Suggest song</a>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Suggested By</th>
        <th>Artist</th>
        <th>Title</th>
        <th>URL</th>
        <th>Votes</th>
        <th>Has Arranger?</th>
        <th>Actions</th>
      </tr>
    </thead>
    {% for song in proposed %}
      {% with s=song.song %}
        <tr>
          <td>{{ s.suggested_by.first_name }}</td>
          <td>{{ s.artist }}</td>
          <td>{{ s.title }}</td>
          <td><a href="{{ s.song_url }}" target="_blank">Link</a></td>
          <td>
            <span class="green">+{{ song.votes.0 }}</span> / {{ song.votes.2 }} / <span class="red">-{{ song.votes.1 }}</span>
          </td>
          <td>
            {% if s.has_willing_arranger %}
              <i class="fa fa-check fa-lg green"></i>
            {% elif is_arranger %}
              <button type="button" class="btn btn-success btn-xs arrange" data-song="{{ s.pk }}">I'll do it!</button>
            {% endif %}
          </td>
          <td>
            {% comment %}Smiley{% endcomment %}
            {% if song.user_vote == 0 %}
              <div class="vote unvote" title="Remove vote" data-song="{{ s.pk }}">
            {% else %}
              <div class="vote upvote" title="I like this!" data-song="{{ s.pk }}">
            {% endif %}
              <i class="fa fa-smile-o fa-lg green"></i>
            </div>
            {% comment %}Meh{% endcomment %}
            {% if song.user_vote == 2 %}
              <div class="vote unvote" title="Remove vote" data-song="{{ s.pk }}">
            {% else %}
              <div class="vote mehvote" title="Meh" data-song="{{ s.pk }}">
            {% endif %}
              <i class="fa fa-meh-o fa-lg"></i>
            </div>
            {% comment %}Frowny{% endcomment %}
            {% if song.user_vote == 1 %}
              <div class="vote unvote" title="Remove vote" data-song="{{ s.pk }}">
            {% else %}
              <div class="vote downvote" title="I don't like this!" data-song="{{ s.pk }}">
            {% endif %}
              <i class="fa fa-frown-o fa-lg red"></i>
            </div>

            {% if s.suggested_by == user %}
              <a href="/songs/{{ s.pk }}/delete" title="Delete">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            {% endif %}
          </td>
        </tr>
      {% endwith %}
    {% endfor %}
  </table>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
    function vote(e, type) {
      var song_id = $(e.target).parent().data('song');
      $.get('/songs/' + song_id + '/vote/' + type,
        function(data) {
          location.reload(true);
        }
      );
    }

    $(document).ready(function() {
      $('.upvote').click(function(e) {
        vote(e, '0');
      });
      $('.downvote').click(function(e) {
        vote(e, '1');
      });
      $('.mehvote').click(function(e) {
        vote(e, '2');
      });
      $('.unvote').click(function(e) {
        vote(e, 'x');
      });
      $('.arrange').click(function(e) {
        var song_id = $(e.target).data('song');
        $.get('/songs/' + song_id + '/arrange',
          function(data) {
            location.reload(true);
          }
        );
      });
    });
  </script>
{% endblock %}
