Django==1.6.4
boto==2.27.0
dj-database-url==0.3.0
dj-static==0.0.5
django-bootstrap3==4.4.0
django-storages==1.1.8
django-toolbelt==0.0.1
gunicorn==18.0
httplib2==0.9
oauth2==1.5.211
oauthlib==0.6.1
psycopg2==2.5.2
pystache==0.5.3
python-openid==2.2.5
python-social-auth==0.1.23
requests==2.2.1
requests-oauthlib==0.4.0
six==1.6.1
static==1.0.2
wsgiref==0.1.2
