{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>{{ event.name }}</h1>
    <p>{{ event.location }}</p>
    <p>{{ event.start_time|date:"SHORT_DATETIME_FORMAT" }}
    {% if event.end_time %}
      - {{ event.end_time|date:"SHORT_DATETIME_FORMAT" }}
    {% endif %}
    </p>
    <h2>Attendance</h2>
    <div class="row">
      <div class="col-md-4">
        <h3>Attending</h3>
        <ul>
          {% for person in attending %}
            <li>{{ person }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Not Attending</h3>
        <ul>
          {% for person in not_attending %}
            <li>{{ person }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <h3>No Response</h3>
        <ul>
          {% for person in no_response %}
            <li>{{ person }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
