{% extends "base.html" %}

{% block content %}
  <div id="schedule"></div>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.0/fullcalendar.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#schedule").fullCalendar({
      });
    });
  </script>
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.0/fullcalendar.css" />
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.0/fullcalendar.print.css" />
{% endblock %}
