body {
  margin-top: 50px;
}

.red {
  color: red;
}

.green {
  color: #7CFC00;
}

.vote {
  display: inline-block;
  cursor: pointer;
  margin: 0 2px;
}

.unvote i {
  font-weight: bold;
}

.fc-state-highlight .fc-day-number {
  color: black;
}
