body {
  margin-top: 50px;
}

.red {
  color: red;
}

.green {
  color: #7CFC00;
}

.yellow {
  color: #FFFF00;
}

.vote {
  display: inline-block;
  cursor: pointer;
  margin: 0 2px;
}

.fc-state-highlight .fc-day-number {
  color: black;
}

#schedule .fc-event {
  cursor: pointer;
}
